@(id: Long, section: models.courses.Section)(implicit req: util.DbRequest[_]) 
@import models.grades._

@main("Announcements"){

	        	<div class="span3">
         			<div class="well sidebar-nav">
					<ul class="nav nav-list">
           		      <li class="nav-header">@section.course.name - @section.periodNames</li>
          		      <li><a href=@controllers.routes.Grades.home(id)>Home</a></li>
           		      <li class="active"><a href="#">Announcements</a></li>
    		          <li><a href="#">Discussions</a></li>
            		  <li><a href="#">Quizzes</a></li>
	                  <li><a href="#">Files</a></li>
    	              <li><a href=@controllers.routes.Grades.assignments(id)>Assignments</a></li>
        	          <li><a href="#">Grades</a></li>
                	  <li><a href="#">Syllabus</a>
                	  <li><a href=@controllers.routes.Courses.roster(id)>Roster</a></li>
    	            </ul>
                    </div><!--/.well -->
                </div><!--/span-->
    
    	<div class="span8">
 		  	 <ul class="breadcrumb">
  				<li><a href="#">Courses</a> <span class="divider">/</span></li>
 				 <li><a href="#">@section.course.name - @section.periodNames</a> <span class="divider">/</span></li>
 				 <li class="active">Announcements</li>
			</ul>
    	</div>
    	
    	<div class="span8">
    		<h2>Announcements</h2>
  		  	<div class="well well-small">
  		  		<h4>Mr. O'Brizzle<small> 2013-3-21</small></h4>
  		  		<p>Mr. O'Bryan would like to tell Allen Boss to get back to work and quit distracting John and Patrick
  		  	         from work that has the potential to change the course of the human race.</p>
  		  	    <button class="btn btn-primary pull-right btn-small">Comment</button><br />
  		  	</div>
  		  	         
    	   		 <p>Ian Ferre has official been banned from the cupboards near the entrance to room 202 after his 
    	   		     secret stash of ferrets escaped and attacked Mrs. Tatro. Anyone who sees Ian near the cupboards,
    	   		     please alert school security and animal control. Thank you. </p>
    		</ul>
    	</div>
    	
  }