@(question: String, ansForm: Form[Int], temp: Int, answer: Option[Int], first: Int, second: Int, ans: Int, otherChoice: Int)(implicit req: util.DbRequest[_])

@import helper._

@main("Assessments") {
	<div class="page-header">
		<h2>Andrew's General Assessments</h2>
	</div>
	
	@question <br />
	@first
	+
	@second
	=
	<br />
	@form(action = routes.Assessments.checkAnswer(temp)){
		@input(ansForm("answer")){ (id, name, value, args) =>
		<input type="radio" name="@name" value=@ans> @ans<br />
		<input type="radio" name="@name" value=@otherChoice> @otherChoice<br />
		<input type="radio" name="@name" value=@otherChoice+2> @(otherChoice+2)<br />
		<input type="radio" name="@name" value=@otherChoice+100> @(otherChoice+100)<br />
		<input type="submit" value="Submit" />}
	}
	@if(answer == Some(0)) {
		<div style = color:Green> You are correct! </div>
		<a href=assessments/newQuestion>Next</a> 
	}
	@if(answer == Some(1)) {
		<div style = color:Red> You are wrong.</div>
	}
}