bin
logs
project/project
project/target
target
tmp
*.db
*~
*.orig
chromedriver.log
*.log
C:\\nppdf32Log\\debuglog.txt

.metadata
.classpath
.project
.settings
.cache
.directory
*.swp
.target
.metadata

public/images/books

conf/manual-data-new
conf/accuscholar-data.xml.xz

