@(cpForm: Form[(String, String, String)])(implicit req: RequestHeader, pm: util.ScalaPersistenceManager)

@main("Change Your Password") {
  @helper.form(action = routes.Users.updatePassword) {
  <table>
  <tr>
    <td><label for="@cpForm("currentPassword").name">Current Password</label></td>
    <td><input type="password" name="@cpForm("currentPassword").name" value="@cpForm("currentPassword").value" />
    @cpForm("currentPassword").errors.map { error => <br/><div class="error">@error.message</div> }</td>
  </tr>
  <tr>
    <td><label for="@cpForm("newPassword").name">New Password</label></td>
    <td><input type="password" name="@cpForm("newPassword").name" value="@cpForm("newPassword").value" />
    @cpForm("newPassword").errors.map { error => <br/><div class="error">@error.message</div> }</td>
  </tr>
  <tr>
    <td><label for="@cpForm("verifyNewPassword").name">Verify New Password</label></td>
    <td><input type="password" name="@cpForm("verifyNewPassword").name" value="@cpForm("verifyNewPassword").value" />
    @cpForm("verifyNewPassword").errors.map { error => <br/><div class="error">@error.message</div> }</td>
  </tr>
  @if(!cpForm.errors.isEmpty) {
    <tr>
      <td></td>
      <td><ul class="errorList">@cpForm.errors.map { error => <li class="error">@error.message</li> }</ul></td>
    </tr>
  }   
  </table>
  <input type="submit" value="Submit" />
  <a href="@req.headers.get("referer").getOrElse(routes.Application.index())">
    <input type="button" name="cancel" value="Cancel" />
  </a>
  }
}  