@(users: List[models.users.User])(implicit req: play.api.mvc.Request[_])

@main("List of All Users") {


<div class="page-header">
    <h2>User List</h2>
</div>

<table class="table table-striped table-condensed">
   <thead><th>Last</th><th>First</th><th>Middle</th><th>Preferred</th><th>Username</th></thead>
   @for(user <- users) {
     <tr><td>@user.last</td><td>@user.first</td><td>@user.middle.getOrElse("")</td>
         <td>@user.preferred.getOrElse("")</td><td>@user.username</td></tr>
   }
</table>

}