@(loginForm: Form[(String, String)])(implicit req: util.DbRequest[_])

@main("Login") {
  @helper.form(action = routes.Users.authenticate) {
  <table>
  <tr>
    <td>
      <label for="@loginForm("username").name">Username</label>
    </td>
    <td>
      <input type="text" name="@loginForm("username").name" value="@loginForm("username").value"/>
      @loginForm("username").errors.map { error => <br/><div class="error">@error.message</div> }
    </td>
  </tr>
  <tr>
    <td>
      <label for="@loginForm("password").name">Password</label>
    </td>
    <td>
      <input type="password" name="@loginForm("password").name" value="@loginForm("password").value"/>
      @loginForm("password").errors.map { error => <br/><div class="error">@error.message</div> }
    </td>
  </tr>
  @if(!loginForm.errors.isEmpty) {
    <tr>
      <td></td>
      <td><ul class="errorList">@loginForm.errors.map { error => <li class="error">@error.message</li> }</ul></td>
    </tr>
  } 
  </table>
  <input type="submit" value="Submit" />
  }
}