@()(implicit req: play.api.mvc.Request[_])
@import models.users.Visit

@(Visit.getFromRequest(req).perspective match {
  case Some(persp) => <ul class="nav">
  						<li class="dropdown" >
  							<a class="dropdown-toggle" data-toggle="dropdown" href="#" >
  								{ persp.displayNameWithRole }
  								<b class="caret"></b>
  							</a>
  							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  								<li>
  								    <a tabindex="-1" href={ controllers.routes.Users.settings().toString }>Settings</a>
  									<a tabindex="-1" href={ controllers.routes.Users.logout().toString }>Log out</a>
  								</li>
  							</ul>
  						</li>
  					  </ul>
  case None => <ul class="nav"><li><a href={ controllers.routes.Users.login().toString }>Log in</a></li></ul>
})