@(slots: List[models.conferences.Slot], session: models.conferences.Session, teacherId: Long, currentTime: org.joda.time.LocalDateTime)(implicit req: controllers.users.VisitRequest[_])

@import util.Helpers._

@views.main("Scheduled conference"){
	<h2>Your Scheduled Conference</h2>
	@if(currentTime.compareTo(session.cutoff) > 0){<p style="color: red;">*The cutoff date for scheduling new conferences has already passed.</p>}
	@if(slots.isEmpty){<p>There are no scheduled conferences</p>}
	@for(slot <- slots){
	<p>Time: @toAmericanString(slot.startTime) - @toAmericanString(slot.endTime)</p>
	<p>E-mail: @slot.email</p>
	<p>Phone: @slot.phone</p>
	@if(slot.alternatePhone != None) { <p>Alternate Phone: @slot.alternatePhone.get</p> }
	@if(slot.comment != None)  {  <p>Comment: @slot.comment.get</p>  }
	<a href="@routes.Conferences.deleteSlot(slot.id)" class="btn">Delete Conference</a>
	}
	<br/>
	@if(currentTime.compareTo(session.cutoff) <= 0){<a href="@routes.Conferences.createSlot(session.id, teacherId)" class="btn">Schedule Another</a>}
}