@(slots: List[models.conferences.Slot], session: models.conferences.Session, activated: Option[models.conferences.TeacherActivation])(implicit req: play.api.mvc.Request[_])

@import util.Helpers._

@main("Conferences for this session") {
	@if(activated == None) { 
		<p>This session has not been activated</p>
		<a class="btn" href="@routes.Conferences.activateTeacherSession(session.id)">Click here to activate</a>
	} else {
	  <p>@activated.get.note</p>
	  <p>Default Session Interval: @activated.get.slotInterval</p>
	  <table>
	  	<thead><th>Student</th><th>Time</th><th>Email</th><th>Phone</th><th>Alternate Phone</th><th>Comments</th></thead>
	  	@for(slot <- slots)	{
	  		<tr>
	  			<td>@slot.student.user.displayName</td>
	  			<td>@toAmericanString(slot.startTime) - @toAmericanString(slot.endTime)</td>
	  			<td>@slot.email</td>
	  			<td>@slot.phone</td>
	  			@if(slot.alternatePhone != None)  { <td>@slot.alternatePhone.get</td> }
	  			@if(slot.comment != None)  { <td>@slot.comment.get</td> }
	  		</tr>
	  	}
	  </table>
	  <a class="btn" href="@routes.Conferences.deactivateTeacherSession(session.id)">Click here to deactivate</a> 
	}
}