@(slots: List[models.conferences.Slot], session: models.conferences.Session, sections: List[models.courses.Section], activated: Option[models.conferences.TeacherActivation])(implicit req: controllers.users.AuthenticatedRequest[_])

@import util.Helpers._
@import models.users.User
@import models.users.Teacher

@views.main("Conferences for this session") {
	@if(activated == None) { 
		<p>This session has not been activated</p>
		<a class="btn" href="@routes.Conferences.activateTeacherSession(session.id)">Click here to activate</a>
	} else {
	  <p>@activated.get.note</p>
	  <p>Default Session Interval: @activated.get.slotInterval</p>
	  <table>
	  	<thead><th>Student</th><th>Time</th><th>Email</th><th>Phone</th><th>Alternate Phone</th><th>Comments</th></thead>
	  	@for(slot <- slots)	{
	  		<tr>
	  			<td>@slot.student.user.displayName</td>
	  			<td>@toAmericanString(slot.startTime) - @toAmericanString(slot.endTime)</td>
	  			<td>@slot.email</td>
	  			<td>@slot.phone</td>
	  			@if(slot.alternatePhone != None)  { <td>@slot.alternatePhone.get</td> }
	  			@if(slot.comment != None)  { <td>@slot.comment.get</td> }
	  			<td><a href="@routes.Conferences.deleteSlot(slot.id)">Delete</a></td>
	  		</tr>
	  	}
	  </table>
	  <h3>Student List</h3>
	  <table class="table table-striped">
		@for(section <- sections){
			<tr>@section.course.name</tr>
			<tr><table>
				<thead><th>Name</th><th>Grade</th><th>E-mail</th></thead>
				@for(student <- section.students()) {
					<tr>
						<td>@student.user.displayName</td>
						<td>@student.grade</td>
						<td>@student.user.email</td>
						<td><a href="@routes.Conferences.createSlot(session.id, student.id, req.role.id)">Schedule a conference</a></td>
					</tr>
				}
			</table></tr>
		}
	</table>
	<a class="btn" href="@routes.Conferences.deactivateTeacherSession(session.id)">Click here to deactivate</a> 
	}
}