@(teacher: Option[models.users.Teacher], events: List[models.conferences.Event], sessions: List[models.conferences.Session])(implicit req: play.api.mvc.Request[_])

@import util.Helpers._

@main("Teacher Conferences") {
	<div class="page-header">
	<table class="table table-striped">
		<thead><th>Name</th><th>Activated?</th></thead>
		@for(event <- events) {
			<tr>
			<td>@event.name</td>
			<td>@{if (event.isActive) "Yes" else "No"}</td>
			</tr>
			@for(session <- sessions if session.event == event) {
			<tr>
			<td><a href="@routes.Conferences.teacherSession(session.id)">@toAmericanString(session.date)</a></td>
			<td>@toAmericanString(session.cutoff)</td>
			<td>@{toAmericanString(session.startTime) + " - " + toAmericanString(session.endTime)}</td>
			</tr>
			}
		}
		</table>
}