<?xml version="1.0"?>
<plugin id="play_eschool" name="DataNucleus plug-ins" provider="Play-eSchool">
    <extension point="org.datanucleus.type_converter">
        <type-converter 
          name="play_eschool.gender"
          member-type="scala.Enumeration.Value"
          datastore-type="int"
          converter-class="models.users.GenderConverter" />
    </extension>
    <extension point="org.datanucleus.java_type">
        <java-type 
          name="scala.Enumeration.Value"
          converter-name="play_eschool.gender" 
          dfg="true"
          priority="10" />
    </extension>
</plugin>