@(addCopyForm: forms.Binding, stu: String, bks: Vector[((String, String), Int)], stuNum: String)(implicit req: util.DbRequest[_])
@import models.books.Copy
@import models.books.Title

@main("Checkout Bulk") {

<div class="page-header">
	<h2>@stu</h2>
</div>

<table class="table table-striped table-condensed">
   <thead>
   <tr><th>Number</th><th>Title</th><th>Copy Number</th><th><button type="button" class="btn btn-primary" onclick="window.location.href='/books/removeAllCopiesFromList/@stuNum'">Remove All</button></th></tr>
   </thead>

   <tbody>
   @for(bk <- bks) {
   <tr><td>@(bk._2 + 1)</td><td>@Title.getByIsbn(bk._1._2).get.name</td><td>@Copy.getByBarcode(bk._1._1).get.number</td><td><button type="button" class="btn" onclick="window.location.href='/books/removeCopyFromList/@stuNum/@bk._1._1'">Remove</button></td></tr>
   }
   </tbody>
</table>

@addCopyForm.render()

<div>
<button type="button" class="btn" onclick="window.location.href='/books/checkoutBulkSubmit/@stuNum'">Submit</button>
<button type="button" class="btn" onclick="window.location.href='/books/cancelBulkCheckout'">Cancel</button>
</div>

}
