@(addCopyForm: forms.Binding, stu: String, bks: Vector[((String, String), Int)])(implicit req: util.DbRequest[_])
@import models.books.Copy
@import models.books.Title

@main("Checkout Bulk") {

<div class="page-header">
	<h2>@stu</h2>
</div>

<table class="table table-striped table-condensed">
   <tr><th>Number</th><th>Title</th><th>Copy Number</th></tr>
   @for(bk <- bks) {
   <tr><td>@(bk._2 + 1)</td><td>@Title.getByIsbn(bk._1._2).get.name</td><td>@Copy.getByBarcode(bk._1._1).get.number</td></tr>
   }
</table>

@addCopyForm.render()

}
