@(quiz: models.mastery.Quiz, LQ: List[models.mastery.Question], LA: List[String], ScoreTF: List[Boolean], numWrong: Int )(implicit req: util.DbRequest[_])
@main(quiz.toString + " Score"){
	<h1>@quiz.toString+" Score Card"</h1>
	@if(numWrong==0){
		<h2> You got 100%!!! </h2>
	}
		<h2> You missed @numWrong </h2>
		<table><thead>Question</thead><thead>Your Answer</thead>
		@for(i <- 0 to ScoreTF.size-1){
			@if(!ScoreTF.apply(i)){
				<tr>
					<td>LQ.apply(i).toString</td>
					<td>LA.apply(i)</td>
				</tr>
			}
		}
		</table>
	
	
}