@()(implicit req: util.DbRequest[_])

@import helper._

@main("Mastery Quizzes") {
	<h1>Mastery Quizzes</h1>
	<ul>
		<li> <a href= @routes.Mastery.displayQuiz("quiz") >Square Roots</a></li>
		<br/>
		<li> <a href= @routes.Application.stub() >Exponents</a></li>
		<br/>
		<li> <a href= @routes.Application.stub() >Solving Equations</a></li>
		<br/>
		<li> <a href= @routes.Application.stub() >Foiling and Factoring</a></li>
		<br/>
		<li> <a href= @routes.Application.stub() >Triple Mini Mastery</a></li>
		<br/>
		<li> <a href= @routes.Application.stub() >Graphing Linear Functions</a></li>
		<br/>
		<li> <a href= @routes.Application.stub() >Solving for a Variable</a></li>			
	</ul>
}