@(quizName: String, ansForm: Form[List[String]])(implicit req: util.DbRequest[_])

@import helper._
@import quizzes._

@** @val questions = Quiz.quiz1.questions **@
 
@ansField(form: Form[List[String]], index: Integer) = {
<div>
@inputText(form("answer[" + index + "]"), '_label -> "")
</div>
}

@main(quizName) {
	
	@form(routes.Mastery.checkAnswers(quizName)) {
		<ol>
			@for(index <- 0 to (Quiz.quiz1.questions.size - 1)) {
				<li> @Quiz.quiz1.questions(index).question 
				@ansField(ansForm, index)
				</li>
			}
		</ol>
		<input type="submit" value="Submit" />
	}
	
}