@(answers: List[String])(implicit req: util.DbRequest[_])

@import helper._
@import quizzes._

@main("Quiz Report") {
<h2>Did you master?</h2>
	<ol>
		@for(index <- 0 to (Quiz.quiz1.questions.size - 1)) {
			<li> @Quiz.quiz1.questions(index).question 
				@if(Quiz.quiz1.questions(index).answer == answers(index)){  
				<div style = color:Green> Your Answer: @answers(index) </div> }
				@if(Quiz.quiz1.questions(index).answer != answers(index)) {
					<div style = color:Red> Your Answer: @answers(index) </div> 
					Correct Answer: @Quiz.quiz1.questions(index).answer}
			</li>
	 	}
	</ol>
}