@(locker: models.lockers.Locker)(implicit req: util.DbRequest[_])

@import models.lockers._

@main("Locker Info") {

      <h1>Locker #@locker.number</h1>
      
      <p class="lead"><br>
      Locker Location: <span>@locker.location</span><br>
      Taken:           @if(locker.taken) {
         		   	     <span>Yes</span>
         		       } else {
         				 <span>No</span>
         			   } <br>
      Student Owner:   @(locker.student match {
                            case None => {<span>Available</span>}
                            case Some(s) => {<span>@s.fullName</span>}
                            case _ => {<span>@locker.student</span>}
                          })
      </p>
      @if(!locker.taken){
        <form method="post">
          <button type="submit" class="btn">Get this locker!</button>
        </form>
      }
}