@(locker: models.lockers.Locker)(implicit req: controllers.users.VisitRequest[_])

@import models.lockers._

@views.main("Locker Info") {

	  <div class="page-header">
      	<h2>Locker #@locker.number</h2>
      </div>
      
      <p class="lead"><br />
      Locker Location: <span>@locker.location</span><br>
      Taken:           @if(locker.taken) {
         		   	     <span>Yes</span>
         		       } else {
         				 <span>No</span>
         			   } <br />
      Student Owner:   <span>@locker.studentName</span>
      </p>
      @if(!locker.taken){
        <form method="post" action=@controllers.routes.Lockers.claimLocker(locker.number)>
          <button type="submit" class="btn btn-primary">Get this locker!</button>
        </form>
      }
}
