@()(implicit req: util.DbRequest[_])

@main("Lockers") {
	<div class="page-header">
 	  <h2>duPont Lockers</h2>
    </div>
    <ul class="thumbnails">
      <li class="span3">
      	<div class="thumbnail">
        <h3>Current locker status</h3>
        <p>Find the current location of your locker.</p>
        <a class="btn btn-primary" href=@controllers.routes.Lockers.getMyLocker()>Go</a>
        </div>
      </li>
      <li class="span3">
      	<div class="thumbnail">
        <h3>Find Locker by Number</h3>
        <p>Already know which locker you want? Find it by number.</p>
        <a class="btn btn-primary" href=@controllers.routes.Lockers.findLocker()>Go</a>
        </div>
      </li>
      <li class="span3">
      	<div class="thumbnail">
        <h3>Search for a locker</h3>
        <p>Find a locker by searching by location and availability</p>
        <a class="btn btn-primary" href=@controllers.routes.Lockers.lockerSearch()>Go</a>
        </div>
      </li>
      <li class="span3">
      	<div class="thumbnail">
        <h3>Choose locker by classes</h3>
        <p>Use your class schedule to pick out the locker you want.</p>
        <a class="btn btn-primary" href=@controllers.routes.Lockers.lockerPicker()>Go</a>
        </div>
      </li>
    </ul>
}
