@(lockerForm: forms.Binding)(implicit req: util.DbRequest[_])

@main("Locker Search") {
  <div class="page-header">
  	<h2>Search for lockers by location and availability!</h2>
  </div>
  <div class="row">
		<div class="span6">
  			@lockerForm.asHtml
  		</div>
  		<div class="span6">
  			<div class="hover-panel north-west">
  				<h3>North West</h3>
  			</div>
  			<div class="hover-panel north-east">
  				<h3>North East</h3>
  			</div>
  			<div class="hover-panel center-west">
  				<h3>Center West</h3>
  			</div>
  			<div class="hover-panel center-east">
  				<h3>Center East</h3>
  			</div>
  			<div class="hover-panel south-west">
  				<h3>South West</h3>
  			</div>
  			<div class="hover-panel south-east">
  				<h3>South East</h3>
  			</div>
  			<div class="hover-panel annex">
  				<h3>Annex</h3>
  			</div>
  		</div>
  </div>
  
}