<?xml version="1.0"?>
<plugin id="mydomain" name="DataNucleus plug-ins" provider-name="My Company">
    <extension point="org.datanucleus.type_converter">
        <type-converter name="gender-converter" member-type="models.users.Gender.Value" datastore-type="int"
            converter-class="models.users.GenderConverter" priority="25" />
    </extension>
    <extension point="org.datanucleus.java_type">
        <java-type name="users.model.Gender.Value" dfg="true" embedded="true"
            converter-name="gender-converter" priority="25"/>
    </extension>
</plugin>