@(id: Long, section: models.courses.Section, enrollments: List[models.courses.StudentEnrollment])(implicit req: controllers.users.VisitRequest[_])
@views.main("Roster") {
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">@section.course.name -
					@section.periodNames</li>
				<li><a href=@controllers.routes.Grades.home(id)>Home</a></li>
				<li><a href=@controllers.routes.Grades.announcements(id)>Announcements</a></li>
				<li><a href="#">Files</a></li>
				<li><a href=@controllers.routes.Grades.assignments(id)>Assignments</a></li>
				<li><a href=@controllers.routes.Grades.gradebook(id)>Grades</a></li>
				<li class="active"><a href="">Roster</a></li>
			</ul>
		</div>
		<!--/.well -->
	</div>
	<!--/span-->
	
	<div class="span8">
		<ul class="breadcrumb">
			<li><a href="#">Courses</a> <span class="divider">/</span></li>
			<li><a href="#">@section.course.name - @section.periodNames</a> <span
				class="divider">/</span></li>
			<li class="active">Roster</li>
		</ul>
	</div>
	
	<div class="span8">
		<table class="table table-striped table-condensed">
			<thead>
				<th>Student</th>
				<th>Start Date</th>
				<th>End Date</th>
			</thead>
			@for(e <- enrollments) {
			<tr>
				<td>@e.student.formalName</td>
				<td>@e.start</td>
				<td>@e.end</td>
			</tr>
			}
		</table>
	</div>
}
