@(course: String, terms: String, periods: String, teachers: String, enrollments: List[models.courses.StudentEnrollment])(implicit req: play.api.mvc.Request[_]) 

@main("%s - %s, %s (%s)".format(course, terms, periods, teachers)) {

<div class="page-header">
	<h2>@course <small>@terms; @periods (@teachers)</small></h2>
</div>

<table class="table table-striped table-condensed">
  <thead><th>Student</th><th>Start Date</th><th>End Date</th></thead>
  @for(e <- enrollments) {
    <tr>
      <td>@e.student.formalName</td>
      <td>@e.start</td>
      <td>@e.end</td>
    </tr>
  }
</table>
}