@(course: String, sections: List[models.courses.Section])(implicit req: play.api.mvc.Request[_])

@main("Sections of: " + course) {
	
	<div class="page-header">
		<h2>@course</h2>
	</div>

	@if(sections.size > 0) {
		<table class="table table-striped table-condensed">
			<thead><th>Teacher</th><th>Block</th><th>Term</th>
			@for(s <- sections) {
				@for(t <- s.teachers()) {
					<tr>
						<td>@t.user.displayName</td>
						<td>@s.periods.toList.map(_.name).mkString(", ")</td>
						<td>@s.terms.toList.map(_.name).mkString(", ")</td>
					</tr>
				}
			}
		</table>
	}	
	@if(sections.size == 0) {
		<p>There are currently no sections for this course.</p>
	}
}
