@(user: models.users.User, term: models.courses.Term, table: List[xml.NodeSeq], hasEnrollments: Boolean)(implicit req: util.DbRequest[_])

@main(user.displayName +"'s Schedule") {

	<h2>@user.displayName</h2>

	<h2>@term.name</h2>

	@if(hasEnrollments) {
		<table>
			<thead><th>Period</th><th>Course(s)</th><th>Teacher(s)</th><th>Room(s)</th></thead>
  			@for(row <- table) {
   				@row
  			}
		</table>
	}
	@if(!hasEnrollments) {
		<p>This student is not enrolled in any courses for this term.</p>
	}
}