@(user: models.users.User, term: models.courses.Term, table: List[xml.NodeSeq], hasAssignments: Boolean)(implicit req: util.DbRequest[_])

@main(user.displayName +"'s Schedule") {

	<h2>@user.displayName</h2>

	<h2>@term.name</h2>

	@if(hasAssignments) { 
		<table class="table table-striped">
  			<thead><th>Period</th><th>Course(s)</th><th>Room(s)</th></thead>
  			@for(row <- table) {
    			@row
  			}
		</table>
	}
	@if(!hasAssignments) {
		<p>This teacher is not assigned to any courses during this term.</p>
	}
}