@(user: models.users.User, term: models.courses.Term, table: List[xml.NodeSeq], hasAssignments: Boolean)(implicit req: controllers.users.VisitRequest[_])

@views.main(user.displayName +"'s Schedule") {
	<div class="page-header">
		<h2>@user.displayName <small>@term.name</small></h2>
	</div>

	@if(hasAssignments) { 
		<table class="table table-striped table-condensed">
  			<thead><th>Period</th><th>Course(s)</th><th>Room(s)</th></thead>
  			@for(row <- table) {
    			@row
  			}
		</table>
	}
	@if(!hasAssignments) {
		<p>This teacher is not assigned to any courses during this term.</p>
	}
}