@(title: String, javascripts: List[String] = Nil)(content: Html)(implicit req: util.DbRequest[_])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/eschool.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"> 
        <script type="text/javascript"
          src="https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML-full">
        </script>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	@for(js <- javascripts) {
      <script src="@routes.Assets.at("javascripts/" + js)" type="text/javascript"></script>
        }
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/eschool.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
        <!-- <script type="text/javascript"
          src="https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML-full" /> -->
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript" />
    <script type="text/javascript">

    // initialise plugins
    jQuery(document).ready(function($){
      $('#sf-menu').superfish();
      $('.tinymce').tinymce({
		   "script_url" : "@routes.Assets.at("javascripts/tinymce/jscripts/tiny_mce/tiny_mce.js")",
           "theme" : "advanced",
           "plugins" : "save,dragmath",
		   "theme_advanced_toolbar_location" : "top",
           "theme_advanced_toolbar_align" : "left",
           "theme_advanced_buttons1_add" : "save,dragmath"
	  }); 
    });
    </script>
    </head>
    <body>
    <div id="container">
      <div class="navbar-fixed-top">
        @req.visit.menu
      </div>
      
      <div id="header">
      	<img src="@routes.Assets.at("images/eschool-logo.png")" alt="Logo" width="300px" class="eschool-logo" />
      	<img src="@routes.Assets.at("images/jcps-logo.png")" alt="Logo" width="150px" class="jcps-logo" />
      	@users.perspectiveInfo()
      </div>
           
      @if(req.flash.get("message").isDefined) {
        <div class="message">@req.flash("message")</div>
      }
      
      <div class="contentArea">
        <div id="content">@content</div>
      </div>
      
      <div class="footer">
      </div>

    </div>
    </body>
</html>
