@(title: String, scripts: scala.xml.NodeSeq = scala.xml.NodeSeq.Empty)(content: Html)(implicit req: util.DbRequest[_])

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/eschool.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"> 
    <script type="text/javascript"
      src="https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML-full">
    </script>
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/timePicker.css")">
    <script src="@routes.Assets.at("javascripts/jquery.timePicker.js")"></script>
    
    @scripts
    
    <script>

    // initialise plugins
    jQuery(document).ready(function($){
      $('#sf-menu').superfish();
      $('.tinymce').tinymce({
		   "script_url" : "@routes.Assets.at("javascripts/tinymce/jscripts/tiny_mce/tiny_mce.js")",
           "theme" : "advanced",
           "plugins" : "save,dragmath",
		   "theme_advanced_toolbar_location" : "top",
           "theme_advanced_toolbar_align" : "left",
           "theme_advanced_buttons1_add" : "save,dragmath"
	  }); 
    });
    </script>
    </head>
    <body>
    <div class="container">
      <div class="navbar-fixed-top">
        @req.visit.updateMenu
        @req.visit.menu
      </div>
      
      <div class="header">
      	<img src="@routes.Assets.at("images/eschool-logo.png")" alt="Logo" width="300px" class="eschool-logo" />
      	<img src="@routes.Assets.at("images/jcps.png")" alt="Logo" class="jcps-logo" />
      </div>
      
      <div class="login-status">
      	@users.perspectiveInfo()
      </div>
           
      
      <div class="contentArea">
        <div id="content">
        	@if(req.flash.get("message").isDefined) {
        		<div class="message">@req.flash("message")</div>
        	}
        	@content
        </div>
      </div>
      
      <div class="footer">
      </div>

    </div>
    </body>
</html>
