@(expr: String, temp: String, ansForm: Form[String], isCorrect: Int)(implicit req: util.DbRequest[_])

@import helper._

@main("Look Ma' I'm Random") {
	<pre>@expr</pre>
	<br />
	@form(routes.Math.checkAnswer(temp)) {
		@inputText(ansForm("answer"))
		<input type="submit" value="Submit" />
	}
	<br />
	@if(isCorrect == 1) {
		<div style = color:Green> You are correct! </div>
	}
	@if(isCorrect == 2) {
		<div style = color:Red> You are wrong, and you and your spawn will face the consequences of this failure for all of eternity!</div>
	}
}